@model EquilibriumCore.Models.Armors

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Armors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArmorPhysical)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArmorPhysical)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArmorMagical)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArmorMagical)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Special)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Special)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
