@model EquilibriumCore.Models.FeuillePersonnage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FeuillePersonnage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HPPerLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HPPerLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HPNow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HPNow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoryBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoryBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OneHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOneHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOneHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoHand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Throw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Throw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Elem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Elem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primordial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primordial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metamagic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metamagic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Infusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Infusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MagicIdentif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MagicIdentif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stealth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stealth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Survival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speech)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.History)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.History)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Athletism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athletism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acrobatics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acrobatics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Craft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Craft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intimidation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intimidation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
